.donate1{
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color:white ;
    
}
h1{
    font-size: 50px;
    font-weight: 400px;
}
.help-needy-people{
    align-content: center;
    text-align: center;
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5%;
    margin: 30px 30px 30px 30px ;
    
}
.donate-amount{
    align-content: center;
    text-align: center;
    width: 100%;
}
.amount-example{
    display: flex;
    padding: 16px 32px;
}
.button-amount{
    align-content: center;
    text-align: center;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    padding: 16px 32px;
    
    
}
.five-hundred{
    color: blue;
    background-color: wheat;
    border:2px solid yellowgreen;
}
.footer-css{
    background-image: linear-gradient(black);
    background-repeat: no-repeat;
    background-size: cover;
    color:white ;
}